---
name: Build Maven PR

# yamllint disable-line rule:truthy
on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Set up JDK 11
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven
      - name: Maven Package
        run: ./mvnw -B package --file pom.xml
